# wallet connect
# Get here: https://cloud.walletconnect.com/sign-in
REACT_APP_WALLET_CONNECT_PROJECT_ID=

# sentry
SENTRY_AUTH_TOKEN=
REACT_APP_SENTRY_DSN=

# mixpanel dev
REACT_APP_MIXPANEL_TOKEN=

# Coinbase App ID
REACT_APP_COINBASE_APP_ID=
REACT_APP_TRANSAK_API_KEY=

# logs
REACT_APP_LOG_LEVEL=info
REACT_APP_UI_LOG=true

# datadog
DATADOG_CLIENT_API=
DATADOG_APPLICATION_ID=
DATADOG_API_KEY=

# One Signal
ONE_SIGNAL_APP_ID=