# wallet connect
# Get here: https://cloud.walletconnect.com/sign-in
REACT_APP_WALLET_CONNECT_PROJECT_ID=

# sentry
SENTRY_AUTH_TOKEN=
REACT_APP_SENTRY_DSN=

# mixpanel
REACT_APP_MIXPANEL_TOKEN=

# Coinbase App ID
REACT_APP_COINBASE_APP_ID=
REACT_APP_TRANSAK_API_KEY=

# logs
REACT_APP_LOG_LEVEL=trace
REACT_APP_UI_LOG=false

OPENAI_API_KEY=
ONE_SIGNAL_APP_ID=

# Coinify Partner Id
REACT_APP_COINIFY_PARTNER_ID=