version: 2.1
jobs:
    build:
        working_directory: ~/veworld-mobile

        docker:
            - image: cimg/node:18.12.1

        steps:
            - checkout
            - restore_cache:
                  key: dependency-cache-{{ checksum "yarn.lock" }}

            - run:
                  name: Install Dependencies
                  command: yarn install

            - run:
                  name: Lint & Format Check
                  command: yarn lint && yarn format:check

            - run:
                  name: Install JUnit coverage reporter
                  command: yarn add --dev jest-junit

            - run:
                  name: Run Unit Tests
                  command: jest --ci --runInBand --reporters=default --reporters=jest-junit
                  environment:
                      JEST_JUNIT_OUTPUT_DIR: ./reports/

            - store_test_results:
                  path: ./reports/
