name: E2E Testing - Android

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-ios:
    name: Detox Build & Test Android Release
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: 'yarn'

      - name: Install & Patch packages
        run: yarn install && yarn patch-package

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          cache: gradle
          distribution: 'zulu'
          #architecture: 'x64'
          java-version: '11'

      # - name: Download Android Emulator
      #   run: |
      #     echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install "system-images;android-31;google_apis;x86"
      #     echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd --force --name emu --device "Pixel 6 Pro API 31" -k 'system-images;android-31;google_apis;x86'
      #     $ANDROID_HOME/emulator/emulator -list-avds

      # - name: Start Android Emulator
      #   #timeout-minutes: 10
      #   #continue-on-error: true
      #   run: |
      #     echo "Starting emulator"
      #     nohup $ANDROID_HOME/emulator/emulator -avd emu -no-audio -no-snapshot -no-window &
      #     $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do sleep 1; done; input keyevent 82'
      #     $ANDROID_HOME/platform-tools/adb devices
      #     echo "Emulator started"

      - name: Rebuild Detox Framework
        run: yarn detox clean-framework-cache && yarn detox build-framework-cache

      - name: Restore Detox build
        id: detox-cache-restore
        uses: actions/cache/restore@v3
        with:
          path: android/app/build
          key: ${{ runner.os }}-detox-android-build
      
      - name: Detox build Android release
        if: steps.detox-cache-restore.outputs.cache-hit != 'true'
        run: yarn detox build --configuration android.emu.debug.31

      - name: Save Detox build
        id: detox-cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: android/app/build
          key: ${{ runner.os }}-detox-android-build

      - name: Get device name
        id: device-name
        run: node -e "console.log('AVD_NAME=' + require('./.detoxrc').devices.emulator_31.device.avdName)" >> $GITHUB_OUTPUT
      
      # - name: Detox test Android release
      #   run: yarn start & yarn detox test --configuration android.emu.debug.31 --cleanup --loglevel trace --headless --record-logs all

      - name: Cache AVD snapshot
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-31

      - name: Restart adb
        run: |
          adb kill-server
          adb start-server
      
      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          # Use the slimmer aosp_atd images for working
          # around "System UI isn't responding" ANR
          # (Application Not Responding) error
          #
          # https://android-developers.googleblog.com/2021/10/whats-new-in-scalable-automated-testing.html#:~:text=Slimmer%20Emulator%20System%20Images
          # https://github.com/ReactiveCircus/android-emulator-runner/issues/129
          # https://github.com/upleveled/hotline-bling-codealong/pull/26#issuecomment-1094659722
          #target: aosp_atd
          api-level: 31
          force-avd-creation: false
          disable-animations: false
          #channel: canary
          avd-name: ${{ steps.device-name.outputs.AVD_NAME }}
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          script: echo "Generated AVD snapshot for caching"
      
      - name: Detox test Android release
        uses: reactivecircus/android-emulator-runner@v2
        with:
          #target: aosp_atd
          api-level: 31
          arch: x86
          # channel: canary
          # profile: pixel
          force-avd-creation: false
          disable-animations: true
          avd-name: ${{ steps.device.outputs.AVD_NAME }}
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          #script: yarn detox test --configuration android.emu.debug.31 --headless --record-logs all
          script: yarn detox test --configuration android.emu.debug.31 --record-logs all

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: detox-fail-artifacts
          path: artifacts

