name: E2E Testing - iOS

on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-test-ios:
        name: Detox Build & Test iOS Debug
        runs-on: macos-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            # Install Homebrew and applesimutils for Detox
            - name: Install macOS dependencies
              run: |
                  brew tap wix/brew
                  brew install applesimutils
              env:
                  HOMEBREW_NO_AUTO_UPDATE: 1
                  HOMEBREW_NO_INSTALL_CLEANUP: 1

            # Setup Ruby
            - name: Setup Ruby
              uses: ruby/setup-ruby@v1
              with:
                  bundler-cache: true

            # Setup Node.js
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version-file: .nvmrc
                  cache: "yarn"

            # install dependencies with yarn
            - name: Install & Patch packages
              run: yarn install --frozen-lockfile --network-timeout 300000

            # Install CocoaPods
            - name: Install CocoaPods
              run: npx pod-install

            # Install Detox CLI
            - name: Rebuild Detox Framework
              run: yarn detox clean-framework-cache && yarn detox build-framework-cache

            # Build iOS app
            - name: Detox build iOS Debug
              timeout-minutes: 10
              run: yarn detox build --configuration ios.sim.debug

            # Start Metro Bundler
            - name: Start Metro Bundler
              run: yarn react-native start &

            # Test with Detox
            - name: Detox test iOS release
              timeout-minutes: 20
              run: yarn detox test --configuration ios.sim.debug --cleanup --loglevel debug --headless --record-logs all

            # Upload artifacts
            - name: Upload artifacts
              if: failure()
              uses: actions/upload-artifact@v3
              with:
                  name: detox-fail-artifacts
                  path: artifacts
