name: Cucumber testing iOS

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# concurrency:
#   group: ${{ github.head_ref || github.ref_name }}-cucumber-testing
#   cancel-in-progress: true

jobs:
  install-dependencies:
    name: Install Dependencies
    runs-on: macos-latest
    #timeout-minutes: 15

    # env:
    #   DEVELOPER_DIR: /Applications/Xcode_14.2.app

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: 'yarn'

      - name: Cache CocoaPods
        id: pods-cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Yarn dependencies
        run: yarn install && yarn patch-package

      - name: Install macOS dependencies
        run: |
          brew tap wix/brew
          brew install applesimutils
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install CocoaPods
        if: steps.pods-cache.outputs.cache-hit != 'true'
        #run: cd ios ; pod install ; cd -
        #run: echo "$(pwd)"
        run: npx pod-install

      - name: Rebuild detox
        run: yarn detox clean-framework-cache && yarn detox build-framework-cache

      - name: Cache Detox build
        id: detox-cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: ios/build
          key: ${{ runner.os }}-detox-build
          restore-keys: |
            ${{ runner.os }}-detox-build
      
      - name: Detox build iOS
        if: steps.detox-cache.outputs.cache-hit != 'true'
        run: yarn detox build --configuration ios.sim.debug
      
      - name: Detox test iOS
        run: yarn detox test --configuration ios.sim.debug --cleanup --loglevel trace --headless --record-logs all

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: detox-fail-artifacts
          path: artifacts

