name: Build, Test & Scan

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

concurrency:
    group: ${{ github.head_ref || github.ref_name }}-build-test-scan
    cancel-in-progress: true

jobs:
    build-veworld:
        name: Build, Test & Scan
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version-file: .nvmrc
                  cache: "yarn"

            - name: Install & Patch packages
              run: yarn install

            - name: Lint & Format Check
              run: yarn lint && yarn format:check

            - name: Tests with Coverage
              env:
                  NODE_OPTIONS: "--max_old_space_size=8192"
                  REACT_APP_WALLET_CONNECT_PROJECT_ID: "f1c07ceecbc6115eaa26b2221c2e43cd"
              run: yarn test:coverage

            - name: Sonar Args
              id: sonar-args
              run: |
                  if [[ ${{ github.ref }} == 'refs/heads/main' ]]; then
                    echo "SONAR_ARGS=-Dsonar.branch.name=main" >> $GITHUB_OUTPUT
                  else
                    echo "SONAR_ARGS=-Dsonar.branch.target=main -Dsonar.branch.name=${{ github.head_ref }}" >> $GITHUB_OUTPUT
                  fi

            - name: SonarCloud Scan
              uses: sonarsource/sonarcloud-github-action@master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                  args: ${{ steps.sonar-args.outputs.SONAR_ARGS }}
