name: Build, Test & Scan

#On push to every branch
on:
  push:
    branches:
      - '*'

concurrency:
  group: ${{ github.head_ref || github.ref_name }}-build-test-scan
  cancel-in-progress: true

jobs:
  build-veworld:
    name: Build, Test & Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn

      - name: Lint & Format Check
        run: yarn lint && yarn format:check

      - name: Sonar Args
        id: sonar-args
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/main' ]]; then
            echo "SONAR_ARGS=-Dsonar.branch.name=main" >> $GITHUB_OUTPUT
          else
            echo "SONAR_ARGS=-Dsonar.branch.target=main -Dsonar.branch.name=${{ github.head_ref }}" >> $GITHUB_OUTPUT
          fi

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: -Dsonar.branch.name=main
