name: detox-nitro-android
on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        name: Detox Build & Test Android Debug
        runs-on: macos-12

        env:
            NITRO_API_KEY: ${{ secrets.NITRO_API_KEY }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install Detox dependencies
              shell: bash
              run: |
                  yarn global add detox-cli react-native-cli

            - uses: nitro-build/github-action-nitro-android@v1
              id: nitro
              with:
                  detox-configuration: "android.emu.debug.31"

            - name: Run Detox Tests
              uses: reactivecircus/android-emulator-runner@v2
              with:
                  api-level: 31
                  arch: x86_64
                  avd-name: Pixel_6_Pro_API_31 # this should match with the one defined in .detoxrc.js config
                  script: detox test --configuration android.emu.debug.31 --cleanup --headless --loglevel debug --record-logs all

            - name: Upload artifacts
              if: failure()
              uses: actions/upload-artifact@v3
              with:
                  name: detox-artifacts
                  path: ${{ steps.nitro.outputs.nitro-output-dir }}
