on:
    workflow_call:

env:
    COVERAGE_PARENT_FOLDER: total-coverage

jobs:
    unit:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                shard: [1, 2, 3, 4]
            fail-fast: false
        permissions:
            contents: read
            actions: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.19
                  cache: "yarn"

            - name: Install & Patch packages
              run: |
                  yarn abi:install
                  yarn abi:build
                  yarn install
                  yarn abi:generate
                  yarn generate:indexer-schema:mainnet

            - name: Lint, Format Check & TS Check
              run: yarn lint && yarn format:check & yarn ts-check

            - name: Tests with Coverage
              env:
                  NODE_OPTIONS: "--max_old_space_size=8192"
                  REACT_APP_WALLET_CONNECT_PROJECT_ID: "f1c07ceecbc6115eaa26b2221c2e43cd"
              run: yarn test:coverage --shard=${{ matrix.shard }}/${{ strategy.job-total }} | tee ./coverage.txt  && exit ${PIPESTATUS[0]}

            - name: Upload coverage folder
              run: mkdir -p $COVERAGE_PARENT_FOLDER && mv coverage/coverage-final.json $COVERAGE_PARENT_FOLDER/${{ matrix.shard }}.json

            - name: Upload coverage folder
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-artifacts-${{ matrix.shard }}
                  path: ${{ env.COVERAGE_PARENT_FOLDER }}
                  retention-days: 1

    coverage:
        runs-on: ubuntu-latest
        needs: [unit]
        permissions:
            contents: read
            actions: read
            pull-requests: write
            id-token: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  clean: false
            - name: Download coverage folder
              uses: actions/download-artifact@v4
              with:
                  pattern: coverage-artifacts-*
                  path: ${{ env.COVERAGE_PARENT_FOLDER }}
                  merge-multiple: true

            - name: Merge shards
              run: |
                  mkdir merged-coverage
                  npx nyc merge ${{ env.COVERAGE_PARENT_FOLDER }} merged-coverage/final-coverage.json
                  npx nyc report --temp-dir merged-coverage --reporter=json-summary --report-dir merged-coverage

            - name: Jest Coverage Comment
              uses: MishaKav/jest-coverage-comment@174f9cbf582b7cc2a7a3acce14dcfc8362e9d37f
              with:
                  coverage-summary-path: ./merged-coverage/coverage-summary.json
                  title: Jest Report
                  summary-title: Summary
                  badge-title: Coverage
                  text-instead-badge: false
                  hide-comment: false
                  create-new-comment: false
                  hide-summary: false
                  remove-links-to-files: true
                  remove-links-to-lines: true
                  report-only-changed-files: true
